<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tdth="http://www.w3.org/1999/html">
<head th:replace="/customer/layout :: boostrap">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/customer/layout :: navbar">

</div>
<a th:href="@{/customer/create}"><button type="button" class="btn btn-primary " >Add new customer</button></a>
<p th:if="${message}">
    <span style="color: greenyellow" th:text="${message}"></span>
</p>
<a href="/customer/using-service"><button type="button" class="btn btn-primary " >Customer Using Service</button></a>

<form class="form-inline my-2 my-lg-0" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="search by name" name="searchWord" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
</form>
<table class="table table-hover">
    <tr>
        <th>No.</th>
        <th>Customer ID</th>
        <th>Customer Code</th>
        <th>Customer Name</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>IdCard</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="customer, loop:${customerList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerCode}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerBirthday}"></td>
        <td th:switch="${customer.customerGender}">
            <p th:case="1">Male</p>
            <p th:case="0">Female</p>
        </td>
        <td th:text="${customer.customerIdCard}"></td>
        <td th:text="${customer.customerPhone}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td th:text="${customer.customerType.customerTypeName}"></td>
        <td><a th:href="@{/customer/edit/{id}/(id=${customer.customerId})}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a></td>
        <td><a th:href="@{/customer/delete/{id}/(id=${customer.customerId})}">
            <button type="button" class="btn btn-primary">Delete</button>
        </a></td>


        <!--        <td><a th:href="@{/view(id=${customer.customerId})}">View</a></td>-->

    </tr>
</table>

<a th:if="${customerList.hasPrevious()}"
   th:href="@{/customer/list(page=${customerList.number - 1},searchWord=${searchWordValue})} ">Previous</a>
<span th:text="${customerList.number+1}"></span>/<span th:text="${customerList.totalPages}"></span>

<a th:if="${customerList.hasNext()}"
   th:href="@{/customer/list(page=${customerList.number + 1},searchWord=${searchWordValue})} ">Next</a>

</body>
</html>