<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tdth="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <h1 style="text-align: center">Blog List</h1>
    <h2><a th:href="@{/create}">Create new blog</a></h2>

</div>


<div>

    <table style="border: 1px">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
            <th>Description</th>
        </tr>

        <tr th:each="blogs, loop:${blogList}">
            <td th:text="${loop.count}"></td>
            <td th:text="${blogs.title}"></td>
            <td th:text="${blogs.author}"></td>
            <td th:text="${blogs.content}"></td>
            <td th:text="${blogs.description}"></td>
            <td>
                <a th:href="@{/edit/{id}/(id=${blogs.id})}"> Edit</a>
                <a th:href="@{/delete/{id}/(id=${blogs.id})}">Delete</a>
                <a th:href="@{/view/{id}/(id=${blogs.id})}">View</a>
            </td>
        </tr>


    </table>

</div>
</body>
</html>