<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tdth="http://www.w3.org/1999/html">
<head th:replace="/customer/layout :: boostrap">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/employee/create}">Add new employee</a>

<table class="table table-striped">
    <tr>
        <th>No.</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Date Of Birth</th>
        <th>Employee IdCard</th>
        <th>Employee Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>EducationDegree</th>
        <th>Division</th>
        <th>User Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="employee, loop:${employeeList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.employeeName}"></td>
        <td th:text="${employee.employeeBirthday}"></td>
        <td th:text="${employee.employeeIdCard}"></td>
        <td th:text="${employee.employeeSalary}"></td>
        <td th:text="${employee.employeePhone}"></td>
        <td th:text="${employee.employeeEmail}"></td>
        <td th:text="${employee.employeeAddress}"></td>
        <td th:text="${employee.position.positionName}"></td>
        <td th:text="${employee.educationDegree.educationDegreeName}"></td>
        <td th:text="${employee.division.divisionName}"></td>
        <td th:text="${employee.appUser.userName}"></td>
        <td><a th:href="@{/customer/edit/{id}/(id=${employee.employeeId})}"> Edit</a></td>
        <td><a th:href="@{/customer/delete/{id}/(id=${employee.employeeId})}">Delete</a></td>
        <td><a th:href="@{/customer/view/{id}/(id=${employee.employeeId})}">View</a></td>

    </tr>
</table>

<a th:if="${employeeList.hasPrevious()}"
   th:href="@{/employee/list(page=${employeeList.number - 1},searchWord=${searchWordValue})} ">Previous</a>
<span th:text="${employeeList.number+1}"></span>/<span th:text="${employeeList.totalPages}"></span>

<a th:if="${employeeList.hasNext()}"
   th:href="@{/employee/list(page=${employeeList.number + 1},searchWord=${searchWordValue})} ">Next</a>

</body>
</html>