<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tdth="http://www.w3.org/1999/html">
<head th:replace="/customer/layout :: boostrap">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/customer/layout :: navbar">

</div>

<a th:href="@{/contract/create}">Add new contract</a>
<p th:if="${message}">
    <span style="color: greenyellow" th:text="${message}"></span>
</p>

<table class="table table-hover">
    <tr>
        <th>No.</th>
        <th>Contract ID</th>
        <th>Contract Start Date</th>
        <th>Contract End Date</th>
        <th>Contract Deposit</th>
        <th>Total Money</th>
        <th>Employee Name</th>
        <th>Customer Name</th>
        <th>Service Name</th>

    </tr>

    <tr th:each="contract, loop:${contractList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${contract.contractId}"></td>
        <td th:text="${contract.contractStartDate}"></td>
        <td th:text="${contract.contractEndDate}"></td>
        <td th:text="${contract.contractDeposit}"></td>

        <td th:text="${contract.contractTotalMoney}"></td>
        <td th:text="${contract.employee.employeeName}"></td>
        <td th:text="${contract.customer.customerName}"></td>
        <td th:text="${contract.service.serviceName}"></td>
        <td>
            <a data-toggle="modal"
               href="#exampleModal"
               th:data-id="${contract.contractId}"
               th:data-customer-name="${contract.customer.customerName}"
               th:data-employee-name="${contract.employee.employeeName}"
               th:data-service-name="${contract.service.serviceName}"
               th:data-contract-start-date="${contract.contractStartDate}"
               th:data-contract-end-date="${contract.contractEndDate}"
               th:data-contract-deposit="${contract.contractDeposit}"
               th:data-contract-total-money="${contract.contractTotalMoney}"
               onclick="getID($(this))">
                <button type="button" class="btn btn-primary" >
                   View
                </button>
            </a>

        </td>
    </tr>
</table>

<a th:if="${contractList.hasPrevious()}"
   th:href="@{/customer/list(page=${contractList.number - 1},searchWord=${searchWordValue})} ">Previous</a>
<span th:text="${contractList.number+1}"></span>/<span th:text="${contractList.totalPages}"></span>

<a th:if="${contractList.hasNext()}"
   th:href="@{/customer/list(page=${contractList.number + 1},searchWord=${searchWordValue})} ">Next</a>



<!-- Modal -->
<th:block th:replace="/contract/view :: modalView"></th:block>


</body>
<th:block th:replace="/contract/view :: scriptOfViewDetails" ></th:block>
</html>