<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class=" col-4 mx-auto" th:if="${serviceTypeId == 1}">
    <form method="post" th:action="@{/service/saveVilla}" th:object="${villaDTO}">
        <div class="modal-header">
            <h5 class="modal-title">Thêm mới villa</h5>
        </div>
        <div class="modal-body">

            <div class="form-group mb-4" id="serviceCode">
                <div class="form-outline">
                    <input type="text"  class="form-control" th:field="*{serviceCode}"/>
                    <label class="form-label" for="serviceCode">Mã dịch vụ<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('serviceCode')}" th:errors="*{serviceCode}"></small>
            </div>

            <div class="form-group mb-4" id="serviceName">
                <div class="form-outline">
                    <input type="text"  class="form-control" th:field="*{serviceName}"/>
                    <label class="form-label" for="serviceName">Tên dịch vụ<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}"></small>
            </div>

            <div class="form-group mb-4" id="serviceArea">
                <div class="form-outline">
                    <input type="text"  class="form-control" th:field="*{serviceArea}"/>
                    <label class="form-label" for="serviceArea">Diện tích sử dụng<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}"></small>
            </div>

            <div class="form-group mb-4" id="serviceCost">
                <div class="form-outline">
                    <input type="text"  class="form-control"  th:field="*{serviceCost}"/>
                    <label class="form-label" for="serviceCost">Chi phí thuê<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}"></small>
            </div>

            <div class="form-group mb-4" id="serviceMaxPeople">
                <div class="form-outline">
                    <input type="text"  class="form-control"  th:field="*{serviceMaxPeople}"/>
                    <label class="form-label" for="serviceMaxPeople">Số lượng người tối đa<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}"></small>
            </div>

            <div id="standardRoom">
                <label class="form-label" for="standardRoom">Tiêu chuẩn phòng<span class="text-danger">(*)</span></label>
                <select th:field="*{standardRoom}"  class="form-control mb-4">
                    <option th:each="item: ${standardRooms}" th:value="${item}" th:text="${item}"></option>
                </select>
            </div>

            <div class="form-group mb-4" id="descritionOtherConvenience">
                <div class="form-outline">
                    <input type="text"  class="form-control"  th:field="*{descritionOtherConvenience}"/>
                    <label class="form-label" for="descritionOtherConvenience">Mô tả tiện nghi khác<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('descritionOtherConvenience')}" th:errors="*{descritionOtherConvenience}"></small>
            </div>

            <div class="form-group mb-4" id="poolArea">
                <div class="form-outline">
                    <input type="text"  class="form-control"  th:field="*{poolArea}"/>
                    <label class="form-label" for="poolArea">Diện tích hồ bơi<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></small>
            </div>

            <div class="form-group mb-4" id="numberOdFloors">
                <div class="form-outline">
                    <input type="text"  class="form-control"  th:field="*{numberOdFloors}"/>
                    <label class="form-label" for="numberOdFloors">Số tầng<span class="text-danger">(*)</span></label>
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('numberOdFloors')}" th:errors="*{numberOdFloors}"></small>
            </div>

            <div id="rentType">
                <label class="form-label" for="rentType">Kiểu thuê<span class="text-danger">(*)</span></label>
                <select th:field="*{rentType}"  class="form-control mb-4">
                    <option th:each="item: ${rentTypes}" th:value="${item.rentTypeId}" th:text="${item.rentTypeName}"></option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Thêm mới"/>
        </div>
    </form>
</div>

</body>
</html>
