<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete province</title>
</head>
<body>
<h1>Delete province</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/category-list">category list</a>
</p>
<form th:action="@{/delete-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{categoryId}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${category.categoryName}"></td>
        </tr>
        <tr>

            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>