<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Product Form</h1>
<a th:href="@{/product}">
    Back to products list
</a>

<div>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form th:action="@{/create}" th:object="${product}" method="post">
        <table>
            <tr>
<!--                <td><input type="hidden" th:field="*{id}"/></td>-->
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="text" th:field="*{price}"/>
                </td>
            </tr>
            <tr>
                <td>Manufacturer</td>
                <td><input type="text" th:field="*{manufacturer}"></td>
            </tr>
            <tr>
                <td>
                    <button>Create</button>
                </td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>