<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Product Form</h1>
<p><a th:href="@{/product}"> Back to products list </a></p>

<div>
    <form method="post" th:action="@{/edit}" th:object="${product}">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Manufacturer</label>
            <input type="text" th:field="*{manufacturer}"/>
        </div>
        <div>
            <button>Submit</button>
        </div>

    </form>
</div>
</body>
</html>